<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>footer</key>
    <string>0.032</string>
    <key>rows</key>
    <array>
    <dict>
        <key>CLXXBH</key>
        <string>1314</string>
        <key>KKBH</key>
        <string>13548784sdbhysyg</string>
        <key>PUID</key>
        <string>201645789</string>
        <key>CDBH</key>
        <string>20165698</string>
        <key>XSFX</key>
        <string>0</string>
        <key>JGSK</key>
        <string>2016-11-13 13:48:24</string>
        <key>JGDAY</key>
        <string>2016-11-13</string>
        <key>HPHM</key>
        <string>鄂A39L76</string>
        <key>HPHM1</key>
        <string>鄂A</string>
        <key>HPHM2</key>
        <string>39L76</string>
        <key>HPYS</key>
        <string>2</string>
        <key>TXMC1</key>
        <string></string>
        <key>CLSD</key>
        <string>78</string>
        <key>XSZT</key>
        <string>0</string>
        <key>CSYS</key>
        <string>J</string>
        <key>CLLX</key>
        <string>K11</string>
        <key>HPZL</key>
        <string>03</string>
        <key>latitude</key>
        <string>30.598986</string>
        <key>longitude</key>
        <string>114.246013</string>
        <key>bayonetName</key>
        <string>湖北省武汉市江汉区万松街街道淮海路241号</string>
    </dict>
    <dict>
        <key>CLXXBH</key>
        <string>1315</string>
        <key>KKBH</key>
        <string>13548784sdbhysyg</string>
        <key>PUID</key>
        <string>201645789</string>
        <key>CDBH</key>
        <string>20165698</string>
        <key>XSFX</key>
        <string>0</string>
        <key>JGSK</key>
        <string>2016-11-13 14:48:24</string>
        <key>JGDAY</key>
        <string>2016-11-13</string>
        <key>HPHM</key>
        <string>鄂A39L76</string>
        <key>HPHM1</key>
        <string>鄂A</string>
        <key>HPHM2</key>
        <string>39L76</string>
        <key>HPYS</key>
        <string>2</string>
        <key>TXMC1</key>
        <string></string>
        <key>CLSD</key>
        <string>78</string>
        <key>XSZT</key>
        <string>0</string>
        <key>CSYS</key>
        <string>J</string>
        <key>CLLX</key>
        <string>K11</string>
        <key>HPZL</key>
        <string>03</string>
        <key>latitude</key>
        <string>30.598952</string>
        <key>longitude</key>
        <string>114.252930</string>
        <key>bayonetName</key>
        <string>湖北省武汉市江汉区万松街街道淮海路</string>
    </dict>
    <dict>
        <key>CLXXBH</key>
        <string>1316</string>
        <key>KKBH</key>
        <string>13548784sdbhysyg</string>
        <key>PUID</key>
        <string>201645789</string>
        <key>CDBH</key>
        <string>20165698</string>
        <key>XSFX</key>
        <string>0</string>
        <key>JGSK</key>
        <string>2016-11-15 16:48:24</string>
        <key>JGDAY</key>
        <string>2016-11-15</string>
        <key>HPHM</key>
        <string>鄂A39L76</string>
        <key>HPHM1</key>
        <string>鄂A</string>
        <key>HPHM2</key>
        <string>39L76</string>
        <key>HPYS</key>
        <string>2</string>
        <key>TXMC1</key>
        <string></string>
        <key>CLSD</key>
        <string>78</string>
        <key>XSZT</key>
        <string>0</string>
        <key>CSYS</key>
        <string>J</string>
        <key>CLLX</key>
        <string>K11</string>
        <key>HPZL</key>
        <string>03</string>
        <key>latitude</key>
        <string>30.598417</string>
        <key>longitude</key>
        <string>114.237770</string>
        <key>bayonetName</key>
        <string>湖北省武汉市江汉区万松街街道泛海国际</string>
    </dict>
    <dict>
        <key>CLXXBH</key>
        <string>1317</string>
        <key>KKBH</key>
        <string>13548784sdbhysyg</string>
        <key>PUID</key>
        <string>201645789</string>
        <key>CDBH</key>
        <string>20165698</string>
        <key>XSFX</key>
        <string>0</string>
        <key>JGSK</key>
        <string>2016-11-18 10:48:24</string>
        <key>JGDAY</key>
        <string>2016-11-18</string>
        <key>HPHM</key>
        <string>鄂A39L76</string>
        <key>HPHM1</key>
        <string>鄂A</string>
        <key>HPHM2</key>
        <string>39L76</string>
        <key>HPYS</key>
        <string>2</string>
        <key>TXMC1</key>
        <string></string>
        <key>CLSD</key>
        <string>78</string>
        <key>XSZT</key>
        <string>0</string>
        <key>CSYS</key>
        <string>J</string>
        <key>CLLX</key>
        <string>K11</string>
        <key>HPZL</key>
        <string>03</string>
        <key>latitude</key>
        <string>30.598008</string>
        <key>longitude</key>
        <string>114.220951</string>
        <key>bayonetName</key>
        <string>湖北省武汉市硚口区韩家墩街道汉西三路</string>
    </dict>
    </array>
    <key>total</key>
    <string>135</string>
</dict>
</plist>
