<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   emojipolice.plist
   ALYEmotionsKeyBoardView

   Created by zeb－Apple on 17/2/27.
   Copyright (c) 2017年 RenSihao. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>iconUrl</key>
            <string>banku.gif</string>
            <key>content</key>
            <string>扮酷</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>guojiangle.gif</string>
            <key>content</key>
            <string>果酱了</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>haixiu.gif</string>
            <key>content</key>
            <string>害羞</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>huaixiao.gif</string>
            <key>content</key>
            <string>坏笑</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>jierikuaile.gif</string>
            <key>content</key>
            <string>节日快乐</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>jingli.gif</string>
            <key>content</key>
            <string>敬礼</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>kaifanle.gif</string>
            <key>content</key>
            <string>开饭了</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>kaixin.gif</string>
            <key>content</key>
            <string>开心</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>leiben.gif</string>
            <key>content</key>
            <string>泪奔</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>liangxiang.gif</string>
            <key>content</key>
            <string>亮相</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>maimeng.gif</string>
            <key>content</key>
            <string>卖萌</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>nuli.gif</string>
            <key>content</key>
            <string>努力</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>shangnaojing.gif</string>
            <key>content</key>
            <string>伤脑经</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>shangxin.gif</string>
            <key>content</key>
            <string>伤心</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>shengqi.gif</string>
            <key>content</key>
            <string>生气</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>shuashuai.gif</string>
            <key>content</key>
            <string>耍帅</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>taohao.gif</string>
            <key>content</key>
            <string>讨好</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>yunyun.gif</string>
            <key>content</key>
            <string>晕晕</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>zaijian.gif</string>
            <key>content</key>
            <string>再见</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>zhandou.gif</string>
            <key>content</key>
            <string>战斗</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>zhenjing.gif</string>
            <key>content</key>
            <string>震惊</string>
        </dict>
        <dict>
            <key>iconUrl</key>
            <string>zhuakuang.gif</string>
            <key>content</key>
            <string>抓狂</string>
        </dict>
    </array>
</plist>
